<%
  content_for(:title, 'Tooltips & Popovers')
  content_for(:category_1, 'UI Components')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-window'></i> Tooltips & Popovers
<% end %>

<% content_for :pagedescription do %>
  tooltips-and-popovers description
<% end %>

tooltips-and-popovers
